<header>
    <nav>
            <table class="header" width="100%">
                <tr>
                    <td><img src='/images/prisoner2.png' width='100px'></td>
                    <td align="center">Welcome to the "Prisoner's Dilemma Paradox" Learning Tutorial</td>
                    <td>
                        <img src="/images/help.png" width="15px"> <a href="/" class="header-link" onclick="openHelp();">Help</a>

                        <form action="/logout" method="post">
                            <img src="/images/logout.png" width="15px"><input type="submit" name="logout" value="Logout" class="header-button" ></input>
                        </form>
                    </td>
                </tr>
            </table>
    </nav>
</header>