<p align="center"><img src="/images/prisoner_run.gif" width="400px"></p>

<form action="/" method="post" >
    <div id="divLogin" align="center">
        <table>
            <tr align="center">
                
                <td colspan="2"><label id="errorMessage" class="errorMessage" name="errorMessage"><%= errorMessage %></label></td>
            </tr>
            <tr style="border: 2pt; border-color: aliceblue; border-style:solid">
                <td>Username:</td>
                <td><input type="text" name="loginUsername" id="loginUsername"></input></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="loginPassword" id="loginPassword"></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="Submit" value="Login"></td>
            </tr>
            
        </table>

        <br/>
        <br/>
        <br/>
       
        <br/>
        <p class="small-print">
            By accessing this learning tutorial, you are agreeing to have your quiz and questionnaire responses collected and stored for the research study.  
            All information will be stored using a unique identifier; no personal identifying information will be collected or stored.  For any questions/concerns, 
            please contact the study’s research administrator: <a href="hbala1@learn.athabascau.ca" class="a">hbala1@learn.athabascau.ca</a>

        </p>

        
      
        
    </div>
</form>