<div class="div-tutorial-nav" >
    <form action="2" method="post">
    <table width="100%" border="0">
        <tr>
            <td  width="20%" align="left">
                <label id="quiz2Timer">
            </td>
            <td width="60%" align="center" nowrap>
                <label id="q2ErrorMessage" class="errorMessage" name="errorMessage"><%= q2ErrorMessage %></label></td>
            </td>
            <td  width="20%" align="right" nowrap>
                <input type="submit" id="btnSubmitQuiz2" onclick="submitButtonQuiz2()" value="Submit Quiz >>">
            </td>
        </tr>
    
    </table>
</div>

<div id="divSection1" style="display:block" class="div-quiz">
    <h3>Quiz #2</h3>

    <ol>
        <li>Some question here
            <br/><input type="radio" id="q1val1" value="1" name="q1">Answer 1
            <br/><input type="radio" id="q1val2" value="2" name="q1">Answer 2
            <br/><input type="radio" id="q1val3" value="3" name="q1">Answer 3
            <br/><input type="radio" id="q1val4" value="4" name="q1">Answer 4
        </li>
        <br/><li>Some question here
            <br/><input type="radio" id="q2val1" value="1" name="q2">Answer 1
            <br/><input type="radio" id="q2val2" value="2" name="q2">Answer 2
            <br/><input type="radio" id="q2val3" value="3" name="q2">Answer 3
            <br/><input type="radio" id="q2val4" value="4" name="q2">Answer 4
        </li>
        <br/><li>Some question here
            <br/><input type="radio" id="q3val1" value="1" name="q3">Answer 1
            <br/><input type="radio" id="q3val2" value="2" name="q3">Answer 2
            <br/><input type="radio" id="q3val3" value="3" name="q3">Answer 3
            <br/><input type="radio" id="q3val4" value="4" name="q3">Answer 4
        </li>
        <br/><li>Some question here
            <br/><input type="radio" id="q4val1" value="1" name="q4">Answer 1
            <br/><input type="radio" id="q4val2" value="2" name="q4">Answer 2
            <br/><input type="radio" id="q4val3" value="3" name="q4">Answer 3
            <br/><input type="radio" id="q4val4" value="4" name="q4">Answer 4
        </li>
        <br/><li>Some question here
            <br/><input type="radio" id="q5val1" value="1" name="q5">Answer 1
            <br/><input type="radio" id="q5val2" value="2" name="q5">Answer 2
            <br/><input type="radio" id="q5val3" value="3" name="q5">Answer 3
            <br/><input type="radio" id="q5val4" value="4" name="q5">Answer 4
        </li>
        <br/><li>Some question here
            <br/><input type="radio" id="q6val1" value="1" name="q6">Answer 1
            <br/><input type="radio" id="q6val2" value="2" name="q6">Answer 2
            <br/><input type="radio" id="q6val3" value="3" name="q6">Answer 3
            <br/><input type="radio" id="q6val4" value="4" name="q6">Answer 4
        </li>
        <br/><li>Some question here
            <br/><input type="radio" id="q7val1" value="1" name="q7">Answer 1
            <br/><input type="radio" id="q7val2" value="2" name="q7">Answer 2
            <br/><input type="radio" id="q7val3" value="3" name="q7">Answer 3
            <br/><input type="radio" id="q7val4" value="4" name="q7">Answer 4
        </li>
        <br/><li>Some question here
            <br/><input type="radio" id="q8val1" value="1" name="q8">Answer 1
            <br/><input type="radio" id="q8val2" value="2" name="q8">Answer 2
            <br/><input type="radio" id="q8val3" value="3" name="q8">Answer 3
            <br/><input type="radio" id="q8val4" value="4" name="q8">Answer 4
        </li>
    </ol>


</form>
</div>