<div class="div-tutorial-nav" >
    <form action="" method="post">
    <table width="100%" border="0">
        <tr>
            <td  width="20%" align="left">
                
            </td>
            <td width="60%" align="center" nowrap>
                <label id="qesErrorMessage" class="errorMessage" name="errorMessage"><%= qesErrorMessage %></label></td>
            </td>
            <td  width="20%" align="right" nowrap>
                <input type="submit" id="btnSubmitQuestionnaire" value="Submit >>">
            </td>
        </tr>
    
    </table>
</div>

<div id="divSection1" style="display:block" class="div-questionnaire">
    <h3>Questionnaire</h3>

    <ol>
        <li>The system’s interfaces and delivery keep me interested and engaged throughout the tutorial
            <br/><input type="radio" id="q1val1" value="1" name="q1">Strongly Agree
            <br/><input type="radio" id="q1val2" value="2" name="q1">Somewhat Agree
            <br/><input type="radio" id="q1val3" value="3" name="q1">Neither Agree or Disagree
            <br/><input type="radio" id="q1val4" value="4" name="q1">Somewhat Disagree
            <br/><input type="radio" id="q1val5" value="5" name="q1">Strongly Disagree
        </li>
        <br/><li>The content material and layout within the tutorial were easy to understand and absorb
            <br/><input type="radio" id="q2val1" value="1" name="q2">Strongly Agree
            <br/><input type="radio" id="q2val2" value="2" name="q2">Somewhat Agree
            <br/><input type="radio" id="q2val3" value="3" name="q2">Neither Agree or Disagree
            <br/><input type="radio" id="q2val4" value="4" name="q2">Somewhat Disagree
            <br/><input type="radio" id="q2val5" value="5" name="q2">Strongly Disagree
        </li>
        <br/><li>The tutorial features allowed me to seek additional clarification for concepts which were more challenging
            <br/><input type="radio" id="q3val1" value="1" name="q3">Strongly Agree
            <br/><input type="radio" id="q3val2" value="2" name="q3">Somewhat Agree
            <br/><input type="radio" id="q3val3" value="3" name="q3">Neither Agree or Disagree
            <br/><input type="radio" id="q3val4" value="4" name="q3">Somewhat Disagree
            <br/><input type="radio" id="q3val5" value="5" name="q3">Strongly Disagree
        </li>
        <br/><li>The tutorial assisted me in improving my performance between the assessment quiz #1 and assessment quiz #2
            <br/><input type="radio" id="q4val1" value="1" name="q4">Strongly Agree
            <br/><input type="radio" id="q4val2" value="2" name="q4">Somewhat Agree
            <br/><input type="radio" id="q4val3" value="3" name="q4">Neither Agree or Disagree
            <br/><input type="radio" id="q4val4" value="4" name="q4">Somewhat Disagree
            <br/><input type="radio" id="q4val5" value="5" name="q4">Strongly Disagree
        </li>
        <br/><li>The assessment quizzes adequately covered the topics and content material of the tutorial
            <br/><input type="radio" id="q5val1" value="1" name="q5">Strongly Agree
            <br/><input type="radio" id="q5val2" value="2" name="q5">Somewhat Agree
            <br/><input type="radio" id="q5val3" value="3" name="q5">Neither Agree or Disagree
            <br/><input type="radio" id="q5val4" value="4" name="q5">Somewhat Disagree
            <br/><input type="radio" id="q5val5" value="5" name="q5">Strongly Disagree
        </li>
        <br/><li>I was already familiar with game theory and the prisoner’s dilemma paradox prior to this tutorial
            <br/><input type="radio" id="q6val1" value="1" name="q6">Strongly Agree
            <br/><input type="radio" id="q6val2" value="2" name="q6">Somewhat Agree
            <br/><input type="radio" id="q6val3" value="3" name="q6">Neither Agree or Disagree
            <br/><input type="radio" id="q6val4" value="4" name="q6">Somewhat Disagree
            <br/><input type="radio" id="q6val5" value="5" name="q6">Strongly Disagree
        </li>
        <br/><li>I am more confident in my understanding of the prisoner’s dilemma paradox after the tutorial
            <br/><input type="radio" id="q7val1" value="1" name="q7">Strongly Agree
            <br/><input type="radio" id="q7val2" value="2" name="q7">Somewhat Agree
            <br/><input type="radio" id="q7val3" value="3" name="q7">Neither Agree or Disagree
            <br/><input type="radio" id="q7val4" value="4" name="q7">Somewhat Disagree
            <br/><input type="radio" id="q7val5" value="5" name="q7">Strongly Disagree
        </li>
        <br/><li>The tutorial’s teaching methodology would be effective for problem-solving based concepts
            <br/><input type="radio" id="q8val1" value="1" name="q8">Strongly Agree
            <br/><input type="radio" id="q8val2" value="2" name="q8">Somewhat Agree
            <br/><input type="radio" id="q8val3" value="3" name="q8">Neither Agree or Disagree
            <br/><input type="radio" id="q8val4" value="4" name="q8">Somewhat Disagree
            <br/><input type="radio" id="q8val5" value="5" name="q8">Strongly Disagree
        </li>


</div>