<div class="div-tutorial-nav">
    <table width="100%" border="0">
        <tr>
            <td width="80%"></td>
            <td align="right" nowrap>
                <button id="btnPrevious" onclick="game3ButtonPrevious()"><< Previous</button>
                <button id="btnContinue" onclick="game3ButtonContinue()">Continue >> </button>
            </td>
        </tr>
    </table>
</div>

<div id="divGame" style="display:block" class="div-tutorial">
    <h3>Game #3 Multi-player Iterative Prisoner’s Dilemma (Simulation)</h3>

    <form method="post" action="3">
        <table width="100%" border="0">
            <tr>
                <td><input type="submit" name="submit" value="Run Simulation"></td>
            </tr>
        </table>

        <table class="table-scores">
            <tr>
                <th width="25%"></th>
                <th class="th-scores" width="15%" bgcolor="#00a2e8">Always Cooperate</th>
                <th class="th-scores" width="15%" bgcolor="#00a2e8">Always Betray</th>
                <th class="th-scores" width="15%" bgcolor="#00a2e8">Tit-4-Tat</th>
                <th class="th-scores" width="15%" bgcolor="#00a2e8">Grudger</th>
                <th class="th-scores" width="15%" bgcolor="#00a2e8">Hard Majority</th>
            </tr>
            <tr>
                <th class="td-scores" bgcolor="#ed1c23">Always Cooperate</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="td-scores" bgcolor="#ed1c23">Always Betray</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="td-scores" bgcolor="#ed1c23">Tit-4-Tat</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="td-scores" bgcolor="#ed1c23">Grudger</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="td-scores" bgcolor="#ed1c23">Hard Majority</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th class="td-scores" bgcolor="#00a2e8"></th>
                <th class="td-scores" bgcolor="#00a2e8"></th>
                <th class="td-scores" bgcolor="#00a2e8"></th>
                <th class="td-scores" bgcolor="#00a2e8"></th>
                <th class="td-scores" bgcolor="#00a2e8"></th>
            </tr>
        </table> 
    </form>
</div>