
<div class="div-tutorial-nav">
    <table width="100%" border="0">
        <tr>
            <td width="80%"></td>
            <td align="right" nowrap>
                <button id="btnPrevious" onclick="gameButtonPrevious()"><< Previous</button>
                <button id="btnContinue" onclick="gameButtonContinue()">Continue >> </button>
            </td>
        </tr>
    </table>
</div>

<div id="divGame0" style="display:block" class="div-tutorial">
    <h3>Intearctive Game - Objectives</h3>
    <table width="100%" border="0">
        <tr>
            <td>
                In this section, you will have a chance to apply your knowledge from the learning module by playing some interactive games.  
                There is no limit on the number of times you play the games, so feel free to attempt the game multiple times using different strategies 
                to gain an understanding of the outcomes.

                <table>
                    <tr>
                        <td>
                            <p></p>There are two interactive games to try:
                            <ul>
                                <li><b>Two-player simultaneous prisoner’s dilemma:</b> play a single game where both players choose simultaneously</li>
                                <li><b>Two-player sequential prisoner’s dilemma game:</b> play games against opponents who are using different strategies. You will play 5 sequential turns and will have knowledge of their past moves</li>
                                <li><b>Multi-player sequential prisoner’s dilemma simulation: </b>watch a simulation of multiple strategies against each other. </li>

                            </ul>
                        </td>
                        <td>
                            <img src="/images/players2.png" width="400px"/>
                        </td>
                    </tr>
                </table>
                
            </td>
        </tr>
    </table>
</div>